// logo
$logo-font-color:#000;
$logo-font-size: 32px;

//color
$font-light-color: #c3c3c3;
$font-dark-color: rgb(109, 109, 109);

// size
$font-smaller-size: 12px;
$font-small-size: 14px;
$font-medium-size: 16px;
$font-big-size: 18px;